* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: url("https://wallpaper.dog/large/10777706.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
