* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	font-family: "Poppins";
	background: url("https://wallpaper.dog/large/10777706.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.textscore {
	color: lime;
	text-align: center;
	margin-top: 5%;
	font-family: "arcadeclassicregular";
	font-size: xx-large;
}

.text {
	color: lime;
	text-align: center;
	margin-top: 0%;
	font-family: "arcadeclassicregular";
	font-size: xx-large;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

@font-face {
	font-family: "arcadeclassicregular";
	src: url("../arcadeclassic-webfont.woff2");
}

.Level {
	text-size-adjust: 200%;
	color: lime;
	text-align: center;
	margin-top: 12%;
	font-family: "arcadeclassicregular";
	font-size: 150px;
	visibility: visible;
	opacity: 1;
	animation: fade 5s linear;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
